<html>

<head>
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/interstate-2" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/delicious-handrawn" rel="stylesheet">

  <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">

</head>


<body class="p-4 bg-gray-100 flex flex-col justify-center items-center">
  <!-- <div class="w-full flex flex-col justify-center items-center">
    <h1 class="font-semibold text-3xl text-gray-800" style="font-family: 'Proxima Nova Condensed', sans-serif;">Vimge
    </h1>
  </div> -->
  <div class="w-full flex flex-col justify-center items-center m-4">
    <h1 class=" text-3xl text-gray-800" style="font-family: 'Delicious Handrawn', sans-serif;">Vimge Explorer📸
    </h1>
  </div>


  <!-- 
  <div class="m-4 border-2 border-gray-600 border-dashed h-[20rem] w-[90vw] rounded-[3px] p-4">
    <a href="/about" class="text-blue-500">About</a>
  </div> -->
  <div class="h-[80%] justify-center flex flex-col justify-center items-center">

    <div class="flex justify-between m-2 space-x-2 ">
      <input type="text"
        class="border border-black  border-dashed h-[3rem] w-[70vw] rounded-[3px] p-4 focus:outline-none focus:border focus:border-red-900"
        style="font-family: 'Proxima Nova Condensed', sans-serif;" placeholder="Image URL" />
      <!-- <img src="../public/svgs/camera.svg" alt="camera" /> -->

      <button
        class="bg-gray-900 hover:bg-gray-700 text-white h-[3rem] w-[2.5rem] rounded flex justify-center items-center">

        <div>

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-focus">
            <circle cx="12" cy="12" r="3" />
            <path d="M3 7V5a2 2 0 0 1 2-2h2" />
            <path d="M17 3h2a2 2 0 0 1 2 2v2" />
            <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
            <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
          </svg>

        </div>
      </button>
    </div>


</body>

</html>